[user]
  name = Tom Butkiewicz
  email = <secret2>
[core]
  autocrlf = input
  whitespace = fix,space-before-tab,tab-in-indent,trailing-space
  excludesfile = ~/.gitignore_global
[apply]
  whitespace = fix
[color]
    diff = auto
    status = auto
    branch = auto

[alias]
    up = '!git remote update -p; git merge --ff-only @{u}'
    co = checkout
    c  = commit -m
    d  = diff
    dc = diff --cached
    last = diff HEAD^
    safepush = !sh -c 'git pull --rebase && git push'
    s  = status
    dwd = diff --word-diff
